## Installing Needed Packages for Project

In [21]:
#!pip install requests
#!pip install beautifulsoup4
#!pip3 install lxml
#!pip install selenium
#!pip install datetime
#pip install psycopg2-binary
#pip install nba_api.stats.static import teams

ERROR: Could not find a version that satisfies the requirement nba_api.stats.static (from versions: none)
ERROR: No matching distribution found for nba_api.stats.static
WARNING: You are using pip version 21.1.1; however, version 22.0.4 is available.
You should consider upgrading via the 'c:\users\snow\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

## Importing Packages

In [25]:
import requests
import lxml
import pandas as pd
from bs4 import BeautifulSoup
import requests
from selenium import webdriver
from datetime import date
from nba_api.stats.static import teams

import os
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time

import psycopg2, os
import json

### Creating "Today's Date Function"

In [3]:
todays_date=date.today()
player_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_per_game.html"

In [4]:
driver = webdriver.Chrome(executable_path="yourwebdriverpathfile")

C:\Users\SNOW\AppData\Local\Temp\ipykernel_21896\3811361827.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path="/Users/SNOW/chromedriver")

### Pulling data from current.date-1 (if active season, won't have full results, so go year before)

In [5]:
year = todays_date.year-1
url = player_stats_url.format(year)

driver.get(url)
driver.execute_script("window.scrollTo(1,10000)")

time.sleep(2)

html = driver.page_source

In [ ]:
### Writing Files to HTML

In [6]:
with open("player/{}.html".format(year), "w+", encoding = "utf-8") as f:
    f.write(html)

In [7]:
todays_date.year-1
url = player_stats_url.format(year)
driver.get(url)
driver.execute_script("window.scrollTo(1,10000)")
time.sleep(2)
html = driver.page_source
with open("player/{}.html".format(year),"w+",encoding= "utf-8") as f:
    f.write(html)

In [12]:
year = todays_date.year-1
    
with open("player/{}.html".format(year), encoding = "utf-8") as f:
        page = f.read()
    
soup = BeautifulSoup(page, 'html.parser')
soup.find('tr', class_="thead").decompose()
player_table = soup.find_all(id="per_game_stats")[0]
player_df = pd.read_html(str(player_table))[0]
player_df["Year"] = year

### Remove Duplicate Names

In [159]:
player_df.drop_duplicates(subset ="Player",
                     keep = False, inplace = True)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Precious Achiuwa,PF,21,MIA,61,4,12.1,2.0,3.7,...,1.2,2.2,3.4,0.5,0.3,0.5,0.7,1.5,5.0,2021
1,2,Jaylen Adams,PG,24,MIL,7,0,2.6,0.1,1.1,...,0.0,0.4,0.4,0.3,0.0,0.0,0.0,0.1,0.3,2021
2,3,Steven Adams,C,27,NOP,58,58,27.7,3.3,5.3,...,3.7,5.2,8.9,1.9,0.9,0.7,1.3,1.9,7.6,2021
3,4,Bam Adebayo,C,23,MIA,64,64,33.5,7.1,12.5,...,2.2,6.7,9.0,5.4,1.2,1.0,2.6,2.3,18.7,2021
7,6,Ty-Shon Alexander,SG,22,PHO,15,0,3.1,0.2,0.8,...,0.1,0.5,0.7,0.4,0.0,0.1,0.2,0.1,0.6,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,535,Robert Woodard II,SF,21,SAC,13,0,3.5,0.6,1.5,...,0.3,0.9,1.2,0.2,0.0,0.2,0.1,0.3,1.5,2021
726,537,Thaddeus Young,PF,32,CHI,68,23,24.3,5.4,9.7,...,2.5,3.8,6.2,4.3,1.1,0.6,2.0,2.2,12.1,2021
727,538,Trae Young,PG,22,ATL,63,63,33.7,7.7,17.7,...,0.6,3.3,3.9,9.4,0.8,0.2,4.1,1.8,25.3,2021
728,539,Cody Zeller,C,28,CHO,48,21,20.9,3.8,6.8,...,2.5,4.4,6.8,1.8,0.6,0.4,1.1,2.5,9.4,2021
729,540,Ivica Zubac,C,23,LAC,72,33,22.3,3.6,5.5,...,2.6,4.6,7.2,1.3,0.3,0.9,1.1,2.6,9.0,2021

In [321]:
player_df_dropped = player_df.drop(['Rk','G', 'GS','MP', 'FG','FGA', 'FG%','3P',
                '3P%','2PA','3PA','2P', '2P%','eFG%', 'FT','FTA', 'FT%','ORB','DRB','TRB','AST','STL','BLK','TOV','PF','Year'], axis=1)

player_df_dropped = player_df_dropped.rename({'Tm': 'tm'}, axis=1)  # new method

player_df_dropped = player_df_dropped.rename({'Player': 'player'}, axis=1)  # new method


player_df_dropped.columns = map(str.lower, player_df_dropped.columns)

## Creation of Teams Table

In [322]:
nba_teams = teams.get_teams()

teams_df = pd.DataFrame(nba_teams)

teams_df = teams_df.rename({'abbreviation': 'tm'}, axis=1)  # new method

teams_df
teams_df=teams_df.replace("PHX", "PHO")

teams_df=teams_df.replace("CHA", "CHO")

teams_df=teams_df.replace("BKN", "BRK")


teams_df.columns = map(str.lower, teams_df.columns)

In [323]:
teams_df

,id,full_name,tm,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
5,1610612742,Dallas Mavericks,DAL,Mavericks,Dallas,Texas,1980
6,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976
7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946
8,1610612745,Houston Rockets,HOU,Rockets,Houston,Texas,1967
9,1610612746,Los Angeles Clippers,LAC,Clippers,Los Angeles,California,1970
10,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
11,1610612748,Miami Heat,MIA,Heat,Miami,Florida,1988
12,1610612749,Milwaukee Bucks,MIL,Bucks,Milwaukee,Wisconsin,1968
13,1610612750,Minnesota Timberwolves,MIN,Timberwolves,Minnesota,Minnesota,1989
14,1610612751,Brooklyn Nets,BRK,Nets,Brooklyn,New York,1976
15,1610612752,New York Knicks,NYK,Knicks,New York,New York,1946
16,1610612753,Orlando Magic,ORL,Magic,Orlando,Florida,1989
17,1610612754,Indiana Pacers,IND,Pacers,Indiana,Indiana,1976
18,1610612755,Philadelphia 76ers,PHI,76ers,Philadelphia,Pennsylvania,1949
19,1610612756,Phoenix Suns,PHO,Suns,Phoenix,Arizona,1968
20,1610612757,Portland Trail Blazers,POR,Trail Blazers,Portland,Oregon,1970
21,1610612758,Sacramento Kings,SAC,Kings,Sacramento,California,1948
22,1610612759,San Antonio Spurs,SAS,Spurs,San Antonio,Texas,1976
23,1610612760,Oklahoma City Thunder,OKC,Thunder,Oklahoma City,Oklahoma,1967
24,1610612761,Toronto Raptors,TOR,Raptors,Toronto,Ontario,1995
25,1610612762,Utah Jazz,UTA,Jazz,Utah,Utah,1974
26,1610612763,Memphis Grizzlies,MEM,Grizzlies,Memphis,Tennessee,1995
27,1610612764,Washington Wizards,WAS,Wizards,Washington,District of Columbia,1961
28,1610612765,Detroit Pistons,DET,Pistons,Detroit,Michigan,1948
29,1610612766,Charlotte Hornets,CHO,Hornets,Charlotte,North Carolina,1988

# Creation of SQL Database

In [287]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\snow\appdata\local\programs\python\python38\lib\site-packages (2.9.3)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.1; however, version 22.0.4 is available.
You should consider upgrading via the 'c:\users\snow\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

In [288]:
!pip install sqlalchemy
from sqlalchemy import create_engine
import psycopg2, os

Requirement already satisfied: sqlalchemy in c:\users\snow\appdata\local\programs\python\python38\lib\site-packages (1.4.34)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\snow\appdata\local\programs\python\python38\lib\site-packages (from sqlalchemy) (1.1.2)

WARNING: You are using pip version 21.1.1; however, version 22.0.4 is available.
You should consider upgrading via the 'c:\users\snow\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

In [289]:
## Turning Player info into a SQL Table

In [346]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:123@localhost:5432/your_PostgresDB_name')
player_df_dropped.to_sql('player_df_dropped', engine, if_exists='replace')
teams_df.to_sql('teams_df', engine, if_exists='replace')

30

In [347]:
print('Connecting to the PostgreSQL database...')
conn = psycopg2.connect(
    host="localhost",
    port='5432',
    database="your_DB",
    user="yourusername",
    password="yourpassword")

cur = conn.cursor()

Connecting to the PostgreSQL database...

In [348]:
alter_1 = """ALTER TABLE teams_df
ADD Primary KEY (tm) 
"""


cur.execute(alter_1)

conn.commit()

alter_2 = """ALTER TABLE player_df_dropped
ADD FOREIGN KEY (tm) 
REFERENCES teams_df(tm)
"""


cur.execute(alter_2)

conn.commit()

alter_3 = """ALTER TABLE player_df_dropped
ADD Primary KEY (Player) 
"""


cur.execute(alter_3)

conn.commit()

alter_4 = """ALTER TABLE player_df_dropped
Drop Column Index 
"""

cur.execute(alter_4)

conn.commit()

alter_5= """ALTER TABLE teams_df
Drop Column index,
Drop Column id
"""


cur.execute(alter_5)

conn.commit()

alter_6= """
ALTER TABLE player_df_dropped  
    ALTER COLUMN pts TYPE float USING pts::double precision,
    ALTER COLUMN age TYPE INT USING age::integer
"""
cur.execute(alter_6)

conn.commit()